@import "tailwindcss";

@theme {
  --font-primary: "Poppins", "sans-serif";
  --color-primary: #1743e3;
  --color-secondary: #0a1f6d;
  --color-accent: #00f7ff;
  --color-prueba: #08123b;
  --color-bg: #0f0f1a;
  --color-text: #eaeaea;
  --color-card-bg: rgba(23, 67, 227, 0.1);
  --color-glass: rgba(255, 255, 255, 0.05);
  --color-glass-border: rgba(255, 255, 255, 0.1);

  --navbar: #1a1a2e;
  --background: #12122b;

}

.hover\:text-accent:hover {
    text-shadow: 0 0 8px rgba(0, 247, 255, 0.7);
  }

  .gradient-bg {
    background: linear-gradient(90deg, var(--color-primary), var(--color-secondary));
  }
  
  .gradient-bg2 {
    background: linear-gradient(90deg, var(--color-primary), var(--color-accent));
  }
  
  .shadow-primary {
    box-shadow: 0 10px 15px -3px rgba(23, 67, 227, 0.5);
  }
  
  .hover\:shadow-primary:hover {
    box-shadow: 0 10px 20px -3px rgba(23, 67, 227, 0.8);
  }

.navbar {
    @apply fixed w-full top-0 z-20 p-4 border-b border-gray-800;
    background-color: var(--navbar);
  }
  
  .nav-container {
    @apply max-w-screen-xl mx-auto flex items-center;
  }
  
  .nav-link {
    @apply relative px-4 py-2 no-underline font-medium text-[1.1rem] transition-colors duration-200;
    color: var(--text);
  }
  
  .nav-link:hover {
    color: var(--accent);
  }
  
  .nav-link::after {
    content: '';
    @apply absolute bottom-0 left-0 h-[2px] w-0 block;
    background: linear-gradient(90deg, var(--color-primary), var(--color-accent));
    transition: width 0.3s linear; 
  }
  
.group:hover .group-hover\:w-full {
    width: 100%;
  }
  
  .group:hover .group-hover\:text-accent {
    color: var(--accent);
    transition: none;
  }
  
    .login-btn {
    @apply px-6 py-2 rounded-md font-medium ml-auto;
    background-color: var(--text);
    color: var(--navbar);
  }

  .login-btn:hover {
    background: linear-gradient(90deg, var(--color-primary), var(--color-accent));
  }

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.scrollbar-hidden {
  -ms-overflow-style: none;  
  scrollbar-width: none; 
}

html {
  scroll-behavior: smooth;
}
  
  